<%- include('partials/_header', { title: 'Announcements' }) %>

     <h3>Announcements</h3>
            <!-- User's Courses Section -->
            <div class="row">
                <div class="col-12">
                    <% if(announcements.length> 0) {%>
                                <% announcements.forEach(announcement=> { %>
                                    <div class="accordion my-1" id="announcementAccordion_<%= announcement.id %>">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading<%= announcement.id %>">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse<%= announcement.id %>"
                                                    aria-expanded="false"
                                                    aria-controls="collapse<%= announcement.id %>">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <strong>
                                                            <%= announcement.title %>
                                                        </strong>
                                                        <small class="text-muted mx-3">
                                                            <%= announcement.created_at %>
                                                        </small>
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="collapse<%= announcement.id %>" class="accordion-collapse collapse"
                                                aria-labelledby="heading<%= announcement.id %>"
                                                data-bs-parent="#announcementAccordion_<%= announcement.id %>">
                                                <div class="accordion-body">
                                                    <%= announcement.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <p class="text-muted">No announcements found.</p>
                            <% } %>
                </div>
            </div>

        <%- include('partials/_footer') %>