<%- include('partials/_header', { title: 'Lectures' }) %>
    <div class="row">
    <div class="col-8 py-3">
      <h2 class="fw-bold"><%= course.title %></h2>
       <div class="badge bg-primary">
        <i class="bi bi-hourglass"></i>
        <%= course.course_duration %>
      </div>
      <div class="badge bg-primary">
        <i class="bi bi-currency-dollar"></i>
        <%= course.course_fee %>
      </div>
      <div class="badge <%= course.status === 'enrolled' ? 'bg-success-subtle' : 'bg-success' %>">
        <%= course.status === 'enrolled' ? 'In Progress' :  'Completed' %>
      </div>
      <div class="badge bg-primary-subtle text-success">
        <%= lectures.length %>
        <span>Lectures</span>
      </div>
      
      <% if(course.progress>0){%>
        <div class="badge bg-primary-subtle text-success">
          <%= course.progress %> %
        </div>
      <%}%>
  
      <p class="text-muted mt-3" style="font-size: 15px;">
        <%= course.description %>
      </p>
    </div>
    <hr class="m-0 text-muted">
    <div class="row">
      <h5 class="fw-bold py-3">Lectures</h5>
    </div>
    <div class="row">
      <div class="col-lg-8 mb-3">
          <ul class="list-group">
              <% if(lectures.length===0){ %>
                <p class="text-center">No lectures found</p>
                <% } else { %>
                  <% lectures.forEach((lecture, index)=> { %>
                    <li class="list-group-item bg-transparent border-0 outline-0 position-relative p-0 mb-1">
                      <div class="d-flex align-items-center">
                        <form action="/lectures/<%= lecture.id %>" method="get">
                          <input type="hidden" name="course_id" value="<%= course.id %>">
                          <button type="submit" class="btn bg-transparent border-0 outline-0 text-muted d-flex align-items-center gap-2 p-0">
                            <span class="badge rounded-circle border border-3 d-flex align-items-center justify-content-center <%= lecture.is_viewed && lecture.is_readed && lecture.is_quizz_completed ? 'border-success bg-secondary' : 'border-secondary-subtle bg-primary' %>" style="width: 30px; height: 30px; font-size: 20px;">
                              <i class="bi bi-play"></i>
                            </span>
                            <%= lecture.title %>
                          </button>
                        </form>
                      </div>
                    </li>
                    <% }); %>
            <% } %>
            </ul>
      </div>
    </div>

  <%- include('partials/_footer') %>