<%- include('partials/_header', { title: 'Courses' }) %>

  <div class="container">

    <div class="row">
      <div class="col-lg-4 mb-3">
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="fw-bold">
              <%= course.title %>
            </h3>
          </div>
          <div class="card-body">
            <div class="card-text">
              <span class="fw-bold">Fee:</span>
              <%= course.course_fee %> USD
            </div>
             <div class="card-text">
              <span class="fw-bold">Status:</span>
              <div class="badge <%= course.status === 'active' ? 'bg-success' : 'bg-danger' %>">
                <%= course.status %>
              </div>
            </div>
            <div class="card-text">
              <span class="fw-bold">Duration:</span>
              <%= course.course_duration %>
            </div>
            <div class="card-text">
              <p class="fw-bold m-0">Description:</p>
              <%= course.description %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mb-3">
        <div class="card rounded-0">
          <div class="card-header">
              <h3 class="fw-bold">Lectures</h3>
            </div>
          <div class="card-body">
             <ul class="list-group">
            <% if(lectures.length===0){ %>
              <p class="text-center">No lectures found</p>
              <% } else { %>
                <% lectures.forEach((lecture, index)=> { %>
                  <li class="list-group-item position-relative">
                    <span class="">
                      <%= index + 1 %> -
                    </span>
                    <a href="/lectures/<%= lecture.id %>">
                      <%= lecture.title %>
                    </a>
                    <div class="d-flex justify-content-end">
                      <p class="<%= lecture.status === 'open' ? 'text-success' : 'text-danger' %> mb-0"><i
                          class="bi bi-chat-fill"></i>
                        <%= lecture.status %> ( <%= lecture.comment_count %> )
                      </p>
                    </div>
                  </li>
                  <% }); %>
                    <% } %>
          </ul>
          </div>
         

         
        </div>


      </div>
    </div>



  </div>

  <%- include('partials/_footer') %>