<%- include('partials/_header', { title: 'Search Result' }) %>

<div class="card">
    <div class="card-body">
        <h3 class="m-0">Search Results for <span class="text-primary">"<%- query %>"</span> :</h3>
        <p class="m-0 mb-2">
            <span class="fw-bold">
                <%= totalResults %>
            </span> 
            results found for 
            <span class="text-primary">"<%- query %>"</span>
        </p>
        <% if(totalResults > 0) { %>
        <div class="row">
            <!-- User Results -->
             <% if(userResults.length > 0) { %>
            <div class="col-lg-3">
                <h4>Users</h4>
                <p class="m-0 mb-2">
                    <span class="fw-bold">
                        <%= userResults.length %>
                    </span> 
                    results found for 
                    <span class="text-primary">"<%- query %>"</span>
                    from users.
                </p>
                <% userResults.forEach((userResult) => { %>
                    <% if (userResult.role !== "deleted") { %>
                        <div class="card mb-1">
                            <a href="/users/profile/<%- userResult.id %>" class="text-decoration-none text-dark">
                                <div class="card-body">
                                    <div class="d-flex gap-2">
                                        <img class="rounded-circle border border-3 border-primary" 
                                            src="<%- userResult.avatar %>" alt="Avatar" width="40" height="40">
                                        <div>
                                            <p class="m-0 fw-bold">
                                                <%- userResult.name.replace(new RegExp(query, "gi"), `<span class="text-primary">${query}</span>`) %>
                                            </p>
                                            <p class="m-0" style="max-width: 220px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                                <%- userResult.email.replace(new RegExp(query, "gi"), `<span class="text-primary">${query}</span>`) %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                <% }) %>
            </div>
            <% } %>
            <% if(videoResults.length > 0) { %>
            <!-- Video Results -->
            <div class="col-lg-3">
                <h4>Videos</h4>
                <p class="m-0 mb-2">
                    <span class="fw-bold">
                        <%= videoResults.length %>
                    </span> 
                    results found for 
                    <span class="text-primary">"<%- query %>"</span>
                    from videos.
                </p>
                <% videoResults.forEach((video) => { %>
                    <div class="card mb-1">
                        <a href="/api/videos/<%- video.id %>" class="text-decoration-none text-dark">
                            <div class="card-body">
                                <div class="d-flex gap-2">
                                    <iframe src="<%- video.iframe_link %>" width="110px" height="48px" frameborder="0"></iframe>
                                    <div>
                                        <p class="m-0 fw-bold" style="max-width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                            <%- video.title.replace(new RegExp(query, "gi"), `<span class="text-primary">${query}</span>`) %>
                                        </p>
                                        <p class="m-0" style="max-width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                            <%- video.description.replace(new RegExp(query, "gi"), `<span class="text-primary">${query}</span>`) %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }) %>
            </div>
            <% } %>
        </div>
        <% } else { %>
            <p class="m-0 mb-2">
                <span class="fw-bold">
                    No results found.
                </span>
                <p class="m-0">Your search - <%= query %> - did not match any documents.</p>
                <strong>Suggestions:</strong>
                <ul>
                    <li>Make sure that all words are spelled correctly.</li>
                    <li>Try different keywords.</li>
                    <li>Try more general keywords.</li>
                    <li>Try fewer keywords.</li>
                </ul>
            </p>
        <% } %>
    </div>
</div>

<%- include('partials/_footer') %>