<%- include('../partials/_header', { title: 'New Announcement' }) %>
    <div class="row m-0">
        <div class="col-2 min-vh-100 position-fixed bg-primary-subtle">
            <%- include('../partials/_sidebar') %>
        </div>
        <div class="col-10 bg-warning-subtle p-0" style="margin-left: auto;">
            <div class="position-sticky bg-danger-subtle" style="top: 0px;z-index: 1000;">
                <div class="navbar px-3">
                    <div class="nav-item">
                        <h3>Dashboard</h3>
                    </div>
                    <div class="nav-item">
                        <a href="/auth/logout" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>
            <div class="col-12 px-3">
                <h4>New Announcement</h4>
                <div class="row pb-5">
                    <form action="/users/admin/announcements/create" method="post">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">Message</label>
                            <input type="text" class="form-control" id="content" name="content">
                        </div>
                        <div class="mb-3">
                            <select name="course_id" id="course_id" class="form-select">
                                <option value="">Select Course</option>
                                <% courses.forEach(course => { %>
                                    <option value="<%= course.id %>"><%= course.title %></option>
                                <% }) %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include('../partials/_footer') %>