<%- include('../partials/_header', { title: 'New Announcement' }) %>
    <h4 class="fw-bold pt-4 pb-1">New Announcement</h4>
    <div class="row pb-5">
        <form action="/users/admin/announcements/create" method="post">
            <div class="mb-3">
                <label for="course_id" class="form-label">Select Course</label>
                <select name="course_id" id="course_id" class="form-select">
                    <option value=""></option>
                    <% courses.forEach(course=> { %>
                        <option value="<%= course.id %>">
                            <%= course.title %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Message</label>
                <%- include('../partials/_richTextEditor', { name: 'content' }) %>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a href="/users/admin/announcements" class="btn btn-outline-secondary">Cancel</a>
        </form>
    </div>
    <%- include('../partials/_footer') %>